@{
    PageTitle = "Successfully registered a user";
}


<h1>Successfully registered</h1>

<p class="alert alert-success"><strong>Congratulations!</strong> You have successfully registered for the website.</p>

<p class="alert alert-info">You should have received an email from us ensure it didn't land in your junk folder and add us as a safe sender.</p>
